= simple_form_for(@state) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        = f.input :name
    .row
      .col-md-6
        = f.input :acronym
    .row
      .col-md-6
        = f.association :country

  .form-actions
    = f.button :submit , 'Gravar', class: 'btn btn-primary'
