= simple_form_for(@country) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        = f.input :name
        %h3 Estados
        #cities
          = f.simple_fields_for :states do |state|
            = render 'state_fields', :f => state
          %p
          .links
            = link_to_add_association 'Novo Estado', f , :states

  %p
  .form-actions
    = f.button :submit, 'Gravar', class: 'btn btn-primary'
