= simple_form_for(@city) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        = f.input :name
    .row
      .col-md-6
        = f.association :state, collection: State.order('acronym ASC')

  .form-actions
    = f.button :submit, 'Gravar', class: 'btn-primary'
