.row-fluid
  .col-md-12
    %h3 
      = icon('list', class: 'text-primary')
      Listagem de Cidades

%p

= render 'grid'

.row
  .col-md-12
    .well
      .row
        .col-md-1
          %h5
            Cidade
        .col-md-4
          = grid_filter @cities, :city_filter
      .row
        .col-md-2
          .col-md-2.col-xs-12{ style: 'margin: 2px' }
          = link_to new_city_path, class: 'btn btn-primary col-xs-12' do
            = icon('plus')
            Nova Cidade
        .col-md-2.col-xs-6{ style: 'margin: 2px 0px' }
          %button.btn.btn-default.col-xs-12.wg-external-submit-button{ 'data-grid-name' => 'grid' }
            = icon('filter')
            Filtrar
        .col-md-2.col-xs-6{ style: 'margin: 2px 0px' }
          %button.btn.btn-info.col-xs-12.wg-external-reset-button{ 'data-grid-name' => 'grid' }
            = icon('refresh')
            Limpar
        .col-md-2.col-xs-12{ style: 'margin: 2px' }
          %button.btn.btn-success.col-xs-12.wg-external-csv-export-button{ 'data-grid-name' => 'grid' }
            Exportar CSV


= render_grid(@cities)




