%h3 Listagem das Categorias

= link_to 'Nova Categoria', new_category_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th
      %th Nome
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to 'Alterar', edit_category_path(category), class: 'btn btn-info btn-sm'
        %td= category.name
        %td= link_to 'Visualizar', category, class: 'btn btn-default btn-sm'
        %td= link_to 'Excluir', category, :method => :delete, :data => { :confirm => 'Tem certeza?' }, class: 'btn btn-danger btn-sm'

= paginate @categories

%br

