<%# add navigation links to this file %>
<li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Cadastros <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Paises', countries_url %></li>
      <li><%= link_to 'Estados', states_url %></li>
      <li><%= link_to 'Cidades', cities_url %></li>
      <li class="divider"></li>
      <li><%= link_to 'Categorias', categories_url %></li>
    </ul>
</li>

<li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Manutenção <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Manutenção 1', '#' %></li> 
      <li><%= link_to 'Manutenção 2', '#'%></li> 
    </ul>
</li>

<li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     Relatórios<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Relatório 1', '#' %></li> 
      <li><%= link_to 'Relatorio 2', '#' %></li> 
    </ul>
</li>

