-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("backend_rknet.png", alt: "Home"), root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.active
            %p.navbar-text 
              = current_user.email
              %span.sr-only
                (current)
          %li
            %p.navbar-text
              = link_to 'Sair', destroy_user_session_path, method: :delete, :class => 'navbar-link'
        - else
          = link_to 'Login', new_user_registration_path, :class => 'navbar-link'
