!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Composer'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Composer'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'

    %link{:rel => :stylesheet, :type => :"text/css", :href => "https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"}

    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

    = javascript_include_tag "https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      #wrapper.toggled
        = render 'layouts/sidebar'
        #page-content-wrapper
          .container-fluid
            .row
              .col-md-6
                %a{id: 'menu-toggle', class: 'btn btn-default btn-sm', :href => '#menu-toggle' , 'data-toggle' => 'offcanvas', 'role' => 'button' }
                  %span.icon-bar Expandir / Encolher
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
              .col-md-6
            .row
              .col-lg-12
                = render 'layouts/messages'
            .row
              .col-lg-12
                = yield
<!-- Menu Toggle Script -->
:javascript
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });

